.plate {
    width: 120px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 2px;
    position: relative;
    overflow: hidden;
}
.plate:hover {
    background-color: lightseagreen;
}
.plate span {
    font-size: 8pt;
}

.plate.marked {
    background: lightgreen;
}

.wl {
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 6pt;
}
.pn {
    font-size: 12pt;
    line-height: 11pt;
    bottom: 2px;
    position: absolute;
}
.da {
    font-size: 6pt;
    position: absolute;
    right: 2px;
    top: 10px;
}
.te {
    font-size: 6pt;
    position: absolute;
    right: 2px;
    top: 18px;
}

.list {
    font-size: 9pt;
}

table td:nth-child(5) {
    font-family: monospace;
    font-size: 12pt;
    width: 300;
}
table td:nth-child(6) {
    font-family: monospace;
    font-size: 12pt;
    width: 300;
}
table td:nth-child(7) {
    font-family: monospace;
    font-size: 12pt;
    width: 300;
}
table td:nth-child(8) {
    font-family: monospace;
    font-size: 12pt;
    width: 300;
}
table td:nth-child(9) {
    font-family: monospace;
    font-size: 12pt;
    width: 300;
}